# Data Types
## Overview
### Notes
**What are Data Types ?**
- Python can store data of different types
- These types can do different things

**What can we do with Data Types ?**

With `int` we can do math operations like `+,-,*,/`

In [3]:
total_salary = 110000
bonus_salary = 10000

In [4]:
type(total_salary)

int

In [5]:
base_salary = total_salary + bonus_salary 

base_salary

120000

We can't do the same with `str` data type

In [6]:
job_title = 'Data Analyst'
remove_word = 'Data'

In [7]:
type(job_title)

str

In [8]:
final_title = job_title - remove_word

final_title

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Types Common in Data Analytics
- Text type: `str`
- Numeric types: `int`, `float`
- Sequence types: `list`, `tuples`
- Mapping type: `dict`
- Set types: `set`

### Importance
Fundamental for data processing. Pandas and matplotlib automatically handle different data types for operations like mathematical calculations, data manipulation, and plotting.

### View Data Type
#### Notes
- View the data type using the `type()` function

In [9]:
company_name = "DataWiz Inc."

type(company_name)

str

In [11]:
print(type(company_name))

<class 'str'>

**Note**: We really don't need to use `print()` here as Jupyter Notebooks always print the last object.

### Check Data Type
Check the data types of the variables using `type()` function.

Note: In this case we are using `print()` so we can see all of the data types of our variables.

In [12]:
job_id = 102
company_name = 'Data Nerd, Inc.'
job_title = 'Data Scientist'
salary_rate = 170000.00
job_work_from_home = True

In [13]:
# Check data types
print(type(job_id))
print(type(company_name))
print(type(job_title))
print(type(salary_rate))
print(type(job_work_from_home))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>

You can also check to see if a variable is the type you think it is. Using `isinstance()`. It has two arguments:
1. *Object* - what you want to check
2. *Type* - A type (what you want to use to see the object is)

In [15]:
isinstance(job_id, float)

False

In [14]:
isinstance(company_name, str)

True