# Lists
### **Notes**
- Used to store multiple ordered items in a single variable.
- Created using `[` and `]`.
- We won't be going into everything that we can do in a list.
- Common data types in lists: Integer, Float, String, Boolean, List, Dictionary, Tuple, Set, Object.
- You can include lists within lists.
- Easy to store information.

### **Examples**

In [1]:
# Define a list of data science jobs
job_skills = ['sql','tableau','excel']
job_skills

['sql', 'tableau', 'excel']

#### **Indexing**

In [2]:
# Get a specific item in the list
job_skills[1]

'tableau'

#### **Change Value**
To change the value of a specific item, refer to its index number. Below we will change the 'tableau' skill (at index `1`) to 'bigquery'.

In [3]:
# Change the value of an item
job_skills[1] ='bigquery'

job_skills

['sql', 'bigquery', 'excel']

#### **Methods**
- **Methods** are functions that belong to an object
    - We learned a little about functions before but a reminder: it's a block of code designed to do a specific task.
    - In a bit we'll be creating our own functions. But now we'll just be using functions given to us.
- But all you need to know right now is that **methods** have this notation: `object.method()`

#### `append()`

In [4]:
## Add a job to the list
job_skills.append('looker')

job_skills

['sql', 'bigquery', 'excel', 'looker']

#### Length - `len()`
Return the *length* of a `list`

In [5]:
len(job_skills)

4

#### `insert()`
To insert a list item at a specified place (index), use `insert`. Here we are inserting the 'python' skill after `'bigquery'`. So we will insert it at the index of `2`

In [6]:
# Insert an item into the list
job_skills.insert(2,'python')

job_skills

['sql', 'bigquery', 'python', 'excel', 'looker']

#### `remove()`
To remove a specific item use the `remove()` method. Let's remove the `'looker'` skill.

In [7]:
# Remove an item from the list
job_skills.remove('looker')

job_skills

['sql', 'bigquery', 'python', 'excel']

#### **Join lists**

1. Concatenate using the `+` operator

In [8]:
# Concatenate 
skills1 = ['SQL', 'Tableau']
skills2 = ['Excel']

skills3 = skills1 + skills2
skills3

['SQL', 'Tableau', 'Excel']

2. Appending all items from the first list to the second using `.append()`.

In [12]:
# Append 
skills4 = ['Python', 'Power BI']

# Append all items from skills3 to skills4 list
for x in skills3:
    skills4.append(x)

skills4

['Python', 'Power BI', 'SQL', 'Tableau', 'Excel']

3. Use `extend()` method to add elements from one list to another list

In [13]:
# Extend
skills5 = ['Statistics', 'Machine Learning']

skills5.extend(skills4)

skills5

['Statistics',
 'Machine Learning',
 'Python',
 'Power BI',
 'SQL',
 'Tableau',
 'Excel']

#### `join()`

The `.join()` method is used for concatenating a sequence of strings together with a specified separator

In [15]:
skills = ['Python', 'SQL', 'Excel']

In [16]:
# Use concatenate print formatting
print('I have these skills: ' +  ', '.join(skills))

I have these skills: Python, SQL, Excel

#### **Slicing Lists**
Slicing Syntax:
- Syntax: `list[start:end:step]`
    - `start`: The starting index (inclusive)
    - `end`: The ending index (exclusive)
    - `step`: Steps to take between items

In [17]:
skills = ['Python', 'SQL', 'Excel']

# Extract the first two items
first_two = skills[0:2]
first_two

['Python', 'SQL']

In [20]:
also_first_two = skills[:2]
also_first_two

['Python', 'SQL']

In [22]:
# Extract the last two items
last_two = skills[1:]
last_two

['SQL', 'Excel']

In [25]:
# Extract the last 3 items
last_one = skills[-3:]
last_one

['Excel', 'R', 'Java']

In [21]:
# Full value in the skills list
full_list = skills[:]
full_list

['Python', 'SQL', 'Excel']

For `step` the default value is `1`, but if we want to change it up:

In [23]:
skills = ['Python', 'SQL', 'Excel', 'R', 'Java']

# Extract every second item starting from the first
every_second = skills[0::2]
every_second

['Python', 'Excel', 'Java']

#### **Unpack List**
To unpack a list (unpacking is when you assign each value in a list to a variable in a single statement) you can assign the list elements to variables directly.

In [26]:
# Unpacking the list
skill1, skill2, skill3, skill4 = job_skills

# Printing the unpacked variables
print(skill1)
print(skill2)
print(skill3)
print(skill4)

sql
bigquery
python
excel

#### **Extend Unpack List**

In [27]:
# Unpacking the sql skills together and then unpacking the rest of the skills
*sql_skills, skill3, skill4 = job_skills

print(sql_skills)  # List of the SQL skills
print(skill3)  
print(skill4)

['sql', 'bigquery']
python
excel