# **Sets**
### **Notes**
- For unique items
- Used to store multiple items in a single variable
- It is:
    - unorderd
    - Unchangeable
    - Unindexed
- Set items are unchangeable but you can still remove items and add new items

### **Examples**

In [1]:
# Define a set of data science skills
job_skills = {'tableau', 'sql', 'python', 'statistics'}

job_skills

{'python', 'sql', 'statistics', 'tableau'}

### **Unordered and No Index**

In [2]:
job_skills[1]

TypeError: 'set' object is not subscriptable

### `add()`
Add an item using `add()`. Now we're going to add a skill to the list, `looker`.

In [3]:
# Adding a skill 
job_skills.add('looker')

job_skills

{'looker', 'python', 'sql', 'statistics', 'tableau'}

In [4]:
# Adding a skill that already exists doesn't duplicate
job_skills.add('sql')

job_skills

{'looker', 'python', 'sql', 'statistics', 'tableau'}

### `remove()`
Remove an item in the set using `remove()`. Let's remove the 'statistics' item from this set.

In [5]:
# Removing a skill
job_skills.remove('statistics')

job_skills

{'looker', 'python', 'sql', 'tableau'}

### `set()`
Sets are great for removing repetitive values. Let's create a list of skills called `skill_list` but these will have repeating skills. If we use `set()` on this new `skill_list`. It will show the list as a set (aka remove repeated values).

In [6]:
# make a list of skills but some repeated values
skill_list = ['python', 'sql', 'statistics', 'tableau', 'python', 'sql', 'statistics', 'tableau']

set(skill_list)

{'python', 'sql', 'statistics', 'tableau'}

### `list()`
We can even convert this set back to a `list`. This will still have the duplicates removed, it will have the unique skills.

In [7]:
skill_list = list(set(skill_list))

skill_list

['python', 'statistics', 'sql', 'tableau']