# **Tuples**

Here's a quick comparison between these 4 container data types:

| Feature          | List                                  | Dictionary                           | Set                                | Tuple                             |
|------------------|---------------------------------------|--------------------------------------|------------------------------------|-----------------------------------|
| Syntax           | `[item1, item2, ...]`                 | `{'key1': value1, 'key2': value2}`   | `{item1, item2, ...}`              | `(item1, item2, ...)` or `item,`  |
| Order            | Ordered                               | Unordered                            | Unordered                          | Ordered                           |
| Indexing         | Yes (by index)                        | Yes (by key)                         | No                                 | Yes (by index)                    |
| Duplicate Values | Allowed                               | Values can be duplicated, keys cannot| Not allowed                        | Allowed                           |
| Mutability       | Mutable                               | Mutable                              | Mutable                            | Immutable                         |
| Usage            | For a collection of ordered items     | For key-value pairs                  | For unique items                   | For fixed data                    |

### **Notes**
- Used to store multiple items in a single variable
- It is:
    - Ordered
    - Unchangeable
- Written with ( and )

### **Importance**
- Speed up operations because it's immutable
- Immutable sequences, often used for fixed data, like column names or coordinates in Matplotlib plots

### **Examples**

In [5]:
# Define a tuple of data science skills
job_skills = ('python', 'sql', 'statistics', 'tableau')

job_skills

('python', 'sql', 'statistics', 'tableau')

#### **Get item** by index

In [6]:
# Accessing an element
job_skills[0]

'python'

#### **Slicing**

In [7]:
# Define a set of data science skills
job_skills = ('python', 'sql', 'statistics', 'tableau')

job_skills[:2]

('python', 'sql')

#### Add items using `append()`
Cannot use `append()` directly to a Tuple because `Tuples` are immutable (not changeable).

But there are 2 other methods

In [8]:
job_skills.append('excel')

AttributeError: 'tuple' object has no attribute 'append'

**Method 1: Turn `tuple` into a `list`**
- First turn it into a list
- Then use the `append()` method
- Convert the list to a tuple

In [9]:
# Turn tuple into a list
job_skills_list = list(job_skills)

# Add skill to the list 
job_skills_list.append('excel')

# Convert list to a tuple
job_skills_tuple = tuple(job_skills_list)

job_skills_tuple

('python', 'sql', 'statistics', 'tableau', 'excel')

**Method 2: Add tuple to a tuple**

You can add tuples to tuples, which is good if you want to add one or more items.

- Create a new tuple with the items
- Add it to the existing tuple

In [10]:
job_skills_new_tuple = ('r', 'postgresql',)
job_skills += job_skills_new_tuple

job_skills_new_tuple

('r', 'postgresql')

In [11]:
job_skills

('python', 'sql', 'statistics', 'tableau', 'r', 'postgresql')

In [12]:
job_skills_new_tuple = ('r', 'postgresql',)
job_skills += job_skills_new_tuple

job_skills

('python',
 'sql',
 'statistics',
 'tableau',
 'r',
 'postgresql',
 'r',
 'postgresql')

#### `join()`

In [13]:
skills = ('Python', 'SQL', 'Excel')

In [14]:
# f-string formatting
print(f'I have these skills: {", ".join(skills)}')

I have these skills: Python, SQL, Excel

#### `remove()`

In [15]:
# Turn tuple into a list
job_skills_remove = list(job_skills)

# Remove skill from the list 
job_skills_remove.remove('tableau')

# Convert list to a tuple
job_skills_tuple = tuple(job_skills_remove)

job_skills_tuple

('python', 'sql', 'statistics', 'r', 'postgresql', 'r', 'postgresql')

#### `del`

In [ ]:
del job_skills
job_skills

NameError: name 'job_skills' is not defined

#### `range()`

In [19]:
range(5)

range(0, 5)

In [18]:
type(range(5))

range

In [ ]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [22]:
list(range(2,5))

[2, 3, 4]

In [23]:
list(range(0, 100, 2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]